# Virtual Environment
myvenv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Coverage reports
.coverage
/google-sheets-api.json
/orchestration/logs/
/orchestration/airflow.db
/orchestration/airflow.db-wal
/orchestration/airflow.db-shm
/orchestration/simple_auth_manager_passwords.json.generated
